* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Prata", serif;
}

body {
	width: 100%;
}

.main-width {
	//	width: 50vw;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
	header {
		width: 100%;

	}
}



h2 {

	margin: 1rem 0;
	letter-spacing: 25px; //	font-size: 100px;
	font-size: 15vh;
	color: $color-mint;
	font-weight: 300;
}



h3 {
	font-size: 3em;
	font-weight: 300;
	margin-bottom: 0.5em;
}



@media (max-width: 660px) {
	.main-width {
		padding: 0 0;
	}
	h2 {
		text-align: center;
		color: white !important;
		background-color: $color-darkblue;

		font-size: 10vh;
	}
}

@media (max-width: 505px) {
	h2 {

		font-size: 8vh;
	}
}

@media (max-width: 427px) {

	h2 {

		font-size: 5vh;
	}
}
