@font-face {
    font-family: 'prata';
    src: url('../fonts/Prata/prata-regular.woff2') format('woff2'),
         url('../fonts/Prata/prata-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}